/* Ausias Bañuls Mahiques */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

:root {
    --texto: #111111;
    --principal: #1ab7c3;
    --secundario: #707070;
    --blanco: #ffffff;
}

*{
    font-family: 'Poppins', sans-serif;
}

html{
    /* Sirve para que haga el scroll suave*/
    scroll-behavior: smooth;
}

body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container-fluid{ /* Esto lo ponemos para que el menú lateral de la landing page este totalmente pegado al borde */
    padding: 0%;
}

.tab-content{
    padding-left: 36vh;
}

.menu_lateral{
    width: 34vh;
    height: 100vh;
    
    position: fixed;
}

.nav-link, .login{
    width: 200px;
    height: 50px;
}


h1{
    font-size: 80px;
    font-weight: 700;
}

h2{
    font-size: 50px;
    font-weight: 600;
}

.logo {
    width: 170px;
    height: auto;
}

#map {
    height: 600px;
}

.boton-recomendaciones{
    text-decoration: none;
    color: #111111;
    width: auto;
    font-size: 25px;
    font-weight: 600;
    border-bottom: #707070 1px solid;
    margin-top: 50px;
}

/* Los estilos del botón los hemos puesto mediante bootstrap, aquí solo ponemos el tamaño */
/*
.btn{
    width: 300px;
    height: 60px;
}



.icono{
    font-size: 2rem;
    color: #707070;
}
*/
/*
Login init
*/
/*
.loginbg{
    background-color: #1ab7c3;
}




.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(225,225,225,0.8);
    border-radius: 5px;
    box-shadow: -5px -5px 20px rgba(0,0,0,0.5);
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.boton-inicio {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background: var(--principal);
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    text-align: center;
    letter-spacing: 1pt;
}

.btn-outline-primary{
    height: 3rem;
    align-items: center;
}

.boton-inicio:hover {
    background: #16737b;
}
*/
/*
Login end
*/

/* Aquí le decimos como será hasta que la página pase de 768px */
@media (max-width: 768px) {

    /* Modificamos el texto para que sea más legible */
    h1{
        font-size: 60px;
    }

}

/* Aquí le decimos como será hasta que la página pase de 992px */
@media (max-width: 992px) {

    #map {
        height: 50rem;
    }
}

@media (max-width: 1200px) {

  
}

@media (max-width: 1400px) {

}