:root {
    --texto: #111111;
    --principal: #1ab7c3;
    --secundario: #707070;
    --blanco: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--blanco);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(225,225,225,0.8);
    border-radius: 5px;
    box-shadow: -5px -5px 20px rgba(0,0,0,0.5);
    padding: 40px;
}

img {
    width: 150px;
    height: auto;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
    align-self: flex-end;
}

.boton-inicio {
    width: 200px;
    border-radius: 5px;
    background: var(--principal);
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    text-align: center;
    letter-spacing: 1pt;
}

.boton-inicio:hover {
    background: #16737b;
}